@use '@styles/variables' as *;
@use '@styles/mixins' as *;

html,
body {
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  background: $color-bg;
  color: $color-text;
}

* {
  box-sizing: border-box;
}

a {
  color: $color-primary;
  text-decoration: none;
}

a:hover {
  color: $color-primary-hover;
}
